<h2> Employee List
    <button (click)="createEmployee()" class="btn btn-success btn-md" style="margin-right: 10px" >Create New Employee</button>
</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 5%">Id</th>
            <th style="width: 61%">Name</th>
            <th style="width: 34%; text-align: right;">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td> {{ employee.id }} </td>
            <td> {{ employee.name }} </td>
            <td style="text-align: right;">
                <button (click)="updateEmployee(employee.id)" class="btn btn-info btn-md" style="margin-left: 10px">Update</button>
                <button (click)="deleteEmployee(employee.id)" class="btn btn-danger btn-md" style="margin-left: 10px">Delete</button>
            </td>
        </tr>
    </tbody>
</table>